# Server Port (Defaults to 3000)
PORT=3000

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# MongoDB Database Connection
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/fancy_furniture?retryWrites=true&w=majority
